
ShareToRedditDemo/ShareToRedditDemo.xcodeproj/project.xcworkspace/xcuserdata/mikef.xcuserdatad/UserInterfaceState.xcuserstate

ShareToRedditDemo/ShareToRedditDemo.xcodeproj/xcuserdata/mikef.xcuserdatad/xcschemes/ShareToRedditDemo.xcscheme

ShareToRedditDemo/ShareToRedditDemo.xcodeproj/xcuserdata/mikef.xcuserdatad/xcschemes/xcschememanagement.plist

*.xccheckout

*.xcbkptlist
